{% load monitor_extras %}
<table>
<tr>
    <th scope="col">Linje</th>
    <th scope="col">Destinasjon</th>
    <th scope="col">Avgang</th>
    <th scope="col">Plf./Spor</th>
</tr>
{% for departure in departures %}
    <tr>
        <td class="linenumbercol"><div class="lineNumberBox" style="background-color: {{ departure.serviceJourney.journeyPattern.line.id|color }}">{{ departure.serviceJourney.journeyPattern.line.publicCode }}</div></td>
        <td class="destcol">{{ departure.destinationDisplay.frontText }}</td>
        <td class="departurecol">{{ departure.expectedDepartureTime|time }}</td>
        <td class="platformcol">{{ departure.quay.publicCode }}</td>
        {% if debug %}
            <td class="platformcol">{{ departure.quay.id }}</td>
        {% endif %}
        <td></td>
    </tr>
{% endfor %}
</table>


{% if debug %}
<pre>{{ departures|pprint }}</pre>
{% endif %}
